.root{
	-fx-background-color: #FFFFFF;
}

.main-menu-pane{

	-fx-padding: 50px;
	
	-fx-alignment: center;
	
	-fx-background-color: #333333;

}

.game-menu-pane{

	
	/* Simulates margin */
	-fx-padding: 50px;
    -fx-border-insets: 30px;
    -fx-background-insets: 30px;
    /* ---------------- */
    
    -fx-alignment: center;

	-fx-background-color: #333333;
	
	-fx-text-alignment: center;

}

.map-selection-pane{
	
	-fx-padding: 50px;
	
}

.label{

	-fx-alignment: center;

	-fx-text-alignment: center;
	-fx-content-display: center;
	-fx-text-fill: #FFFF00;

	-fx-font-size: 30;
}

.vbox{

	-fx-fill-width: true;
	
	-fx-alignment: center;


}

#title{

	-fx-font-size: 40px;

}

#menuTitle{
	-fx-font-size: 80;
}

#mapName{
	-fx-text-fill: #000000;
	-fx-font-size: 30px;
}